<div class ="bbq-conf-container">
    <div class="page-width">
    <h2 class="text-center text-white" style="padding-top:20px;">Choose your configuration </h2>
    <div class="bbq-conf-size-btn">
        <div class="btn btn--tertiary btn--tertiary-cucine" data-slide="0">SMALL</div>
        <div class="btn btn--tertiary btn--tertiary-cucine" data-slide="1">MEDIUM</div>
        <div class="btn btn--tertiary btn--tertiary-cucine" data-slide="2">LARGE</div>
    </div>
    <div class = "bbq-conf-img">

        <div class="bbq-conf-img-item">
            {% for block in section.blocks %}
            {% if block.settings.item1-pointer-left and block.settings.item1-pointer-top != blank %}
            <div class="item-pointer" style="left:{{ block.settings.item1-pointer-left }}%; top:{{ block.settings.item1-pointer-top }}%;">
                <div class="item-card">
                    <div class="item-card-row">
                        <div class="item-image">
                            <img src="{{block.settings.item1-card-image | img_url: 'master' }}">
                        </div>
                        <div class="item-description">
                            <h3 class="item-title">{{ block.settings.item1-card-title  }}</h3>
                            <a href="{{ block.settings.item1-link }}" target="_blank">PRODUCT DETAIL</a>
                        </div>
                    </div>  
                </div>
            </div>
        {% endif %}
        {% endfor %}
            <img src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/small.png?v=1657842917">
        </div>

        <div class="bbq-conf-img-item">
            
            {% for block in section.blocks %}
                {% if block.settings.item2-pointer-left and block.settings.item2-pointer-top != blank %}
                <div class="item-pointer" style="left:{{ block.settings.item2-pointer-left }}%; top:{{ block.settings.item2-pointer-top }}%;">
                    <div class="item-card">
                        <div class="item-card-row">
                            <div class="item-image">
                                <img src="{{block.settings.item2-card-image | img_url: 'master' }}">
                            </div>
                            <div class="item-description">
                                <h3 class="item-title">{{ block.settings.item2-card-title  }}</h3>
                                <a href="{{ block.settings.item2-link }}" target="_blank">PRODUCT DETAIL</a>
                            </div>
                        </div>  
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            <img src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/medium.jpg?v=1657842917">
        </div> 
        <div class="bbq-conf-img-item">

            {% for block in section.blocks %}
                {% if block.settings.item3-pointer-left and block.settings.item3-pointer-top != blank %}
                <div class="item-pointer" style="left:{{ block.settings.item3-pointer-left }}%; top:{{ block.settings.item3-pointer-top }}%;">
                    <div class="item-card">
                        <div class="item-card-row">
                            <div class="item-image">
                                <img src="{{block.settings.item3-card-image | img_url: 'master' }}">
                            </div>
                            <div class="item-description">
                                <h3 class="item-title">{{ block.settings.item3-card-title  }}</h3>
                                <a href="{{ block.settings.item3-link }}" target="_blank">PRODUCT DETAIL</a>
                            </div>
                        </div>  
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            <img src="https://cdn.shopify.com/s/files/1/0647/3151/3071/files/large.jpg?v=1657842917">
        </div> 
    </div>
</div>
</div>
         

         {% schema %} 
         {
           "blocks": [
                         {
                           "type": "first-section",
                           "name": "Flashing Pointer",
                           "settings": [
                                         {
                                         "id": "item1-pointer-top",
                                         "type": "text",
                                         "label": "top1"
                                         },
                                         {
                                         "id": "item1-pointer-left",
                                         "type": "text",
                                         "label": "left1"
                                         },
                                         {
                                         "id":"item1-card-image",
                                         "type":"image_picker",
                                         "label":"image1"
                                         },
                                         {
                                         "id":"item1-card-title",
                                         "type":"text",
                                         "label":"item1 title"
                                         },
                                         {
                                         "id":"item1-link",
                                         "type":"url",
                                         "label":"item1 link"
                                         },
                                         {
                                         "id": "item2-pointer-top",
                                         "type": "text",
                                         "label": "top2"
                                         },
                                         {
                                         "id": "item2-pointer-left",
                                         "type": "text",
                                         "label": "left2"
                                         },
                                         {
                                         "id":"item2-card-image",
                                         "type":"image_picker",
                                         "label":"image2"
                                         },
                                         {
                                         "id":"item2-card-title",
                                         "type":"text",
                                         "label":"item2 title"
                                         },
                                         {
                                         "id":"item2-link",
                                         "type":"url",
                                         "label":"item2 link"
                                         },
                                         {
                                         "id": "item3-pointer-top",
                                         "type": "text",
                                         "label": "top3"
                                         },
                                         {
                                         "id": "item3-pointer-left",
                                         "type": "text",
                                         "label": "left3"
                                         },
                                         {
                                         "id":"item3-card-image",
                                         "type":"image_picker",
                                         "label":"image3"
                                         },
                                         {
                                         "id":"item3-card-title",
                                         "type":"text",
                                         "label":"item3 title"
                                         },
                                         {
                                         "id":"item3-link",
                                         "type":"url",
                                         "label":"item3 link"
                                         }

                                       ]
                          }
                       ],
            "presets": [
                             {
                             "name": "Cucine slick images",
                             "category": "Advanced Layout"	
                             }
                        ]
         }
       {% endschema %}



       {% style %}

       .bbq-conf-container{
        background-color:#232323;
        margin-top:-20px;
        padding-bottom:2rem;
       }

       .bbq-conf-size-btn{
        display:flex;
        align-items:center;
        justify-content:center;
       }
       .btn--tertiary-cucine{
        color:white;
        margin:15px;
        padding:15px 40px;
       }

       .btn--tertiary-cucine:hover{
        color:black;
        background:white;
       }

       .bbq-conf-img-item{
        position:relative;
       }


       .item-pointer{
        background-color:#FF7063;
        height:15px;
        width:15px;
        border-radius:50%;
        position:absolute;  
        cursor:pointer;    
        -webkit-animation: blink 7s infinite;  
        -moz-animation: blink 5s infinite;  
        -o-animation: blink 5s infinite;  
        animation: blink 7s infinite;  
        border: 1px solid white;
        overflow:visible;
       }

       .item-pointer:hover .item-card{
        display:block;
       }

       .item-pointer:hover{
        -webkit-animation: none;  
        -moz-animation: none;  
        -o-animation: none;  
        animation: none;
        overflow:visible;
       }
        

       .item-card{
        display:none;
        background-color:white;
        width:400px;
        cursor:auto;
        position:absolute;
       margin-top:-16vh;
       margin-left:1.5vh;
       z-index:9999;
       border-radius:11px;
       overflow:visible;
       }

       .item-card-row{
        display:flex;
       }

       .item-image img {
        padding:14px 20px 30px 40px;
        width:190px;
       }

       .item-description {
        padding:60px 10px 40px 0;
       }

       .item-title{
        font-weight:bold;
       }

       .item-description a{
        color:red;
        text-decoration:underline;
       }

       @keyframes blink {
        0%{
            transform:scale(1.1);
        }
        25%{
            transform:scale(.65);
        }
        50%{
            transform:scale(1.1);
            }
        75%{
            transform:scale(.65);
             }
        100%{
            transform:scale(1.1);
        }
       }

       .bbq-conf-img-item img {
         margin: 0 auto; 
    }

       {% endstyle %}


<script>

    $('.bbq-conf-img').slick({
        arrows: false,
        fade: false,
        slidesToShow: 1,
        speed:0,
        centerMode: true,
        draggable:false,
        infinite: true
    });

    $('div[data-slide]').click(function() {
        var slideno = $(this).data('slide');
        console.log(slideno)
        $('.bbq-conf-img').slick('slickGoTo', slideno);
    });
        
</script>